$color-blue-light: rgb(22, 8, 155);
$color-blue-dark: rgb(21, 0, 36);
$color-white: #fff;
$color-black: #000;
$margin-horizntal: 8rem;
$color-grey-1: #f7f7f7;
$color-grey-dark: #111;
$color-grey: #e0e0e0;
$color-card-1: #ffb900;
$color-card-2: #ff7730;
$color-card-3: #7ed56f;
$color-card-4: #28b485;
$color-card-5: #2998ff;
$color-card-6: #5643fa;
$color-grey-2: #999;
$color-grey-3: #333;
$color-red: rgb(231, 0, 0);
$color-blue-light-1: rgb(59, 42, 211);

.section__shop {
  // background-color: $color-grey-1;
  padding: 35rem 0 8rem 0;
  margin-top: -15rem;
  width: 100%;
  display: grid;
}
.row {
  display: flex;
  justify-content: space-around;
}

.col-1-of-3 {
  width: 32rem;
}
.u-center {
  text-align: center;
  margin-top: 8rem;
}

.card {
  perspective: 120rem;
  height: 48rem;
  position: relative;
  &__side {
    width: 100%;
    height: 52rem;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    overflow: hidden;
    transition: all 1.5s;
    &--front {
      background-color: $color-white;
    }
    &--back {
      transform: rotateY(180deg);
      
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }
  &:hover &__side--back {
    transform: rotateY(0);
  }
  &__picture {
    background-size: cover;

    height: 23rem;
    background-blend-mode: screen; //new property ادغام رنگ با تصویر
    // clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
    clip-path: polygon(
      50% 0%,
      100% 0,
      100% 43%,
      94% 78%,
      68% 94%,
      34% 97%,
      0 100%,
      0% 43%,
      0 0
    );
    &-1 {
      background-image: url(../img/elin.jpg);
    }
    &-2 {
      background-image: url(../img/refre.jpg);
    }
    &-3 {
      background-image: url(../img/siemens1.jpg);
    }
    &-11 {
      background-image: url(../img/Toni-Technik.jpg);
      background-size: cover;
      background-position-y: 20rem;
    }
    &-22 {
      background-image: url(../img/skf.jpg);
    }
    &-33 {
      background-image: url(../img/abb.jpg);
    }
  }
  &__heading {
    font-size: 2.8rem;
    font-weight: 300;
    color: $color-white;
    text-transform: uppercase;
    position: absolute;
    top: 14rem;
    left: 2rem;
    text-align: left;
    width: 55%;

    &--span {
      line-height: 1rem;

      &-1 {
        background-image: linear-gradient(
          to right bottom,
          rgba(#fff, 1),
          rgba(#fff, 1)
        );
        word-spacing: 1rem;
        padding: 0.4rem 1rem;
       width: 15rem;
      }
      &-11 {
        background-image: linear-gradient(
          to right bottom,
          rgba(#ffffff, 1),
          rgba(#ffffff, 1)
        );
        word-spacing: 1rem;
        padding: 0rem 1rem;
       width: 15rem;
      }
      &-2 {
        background-image: linear-gradient(
          to right bottom,
          rgba(#fff, 1),
          rgba(#fff, 1)
        );
        word-spacing: 1rem;
        padding: 1rem 1rem;
       width: 15rem;
      }
      &-22 {
        background-image: linear-gradient(
          to right bottom,
          rgba(#fff, 1),
          rgba(#fff, 1)
        );
        word-spacing: 1rem;
        padding:0;
       width: 12rem;
      }
     
      &-33 {
        background-image: linear-gradient(
          to right bottom,
          rgba(#fff, 1),
          rgba(#fff, 1)
        );
        word-spacing: 1rem;
        padding:1rem;
       width: 10rem;
      }
      
    }
  }
  &__detail {
    padding: 0;
    margin-top: 2rem;
    ul {
      text-decoration: none;
      list-style-type: none;
      width: 80%;
      margin: 0 auto;
      li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1.9rem;
        &:not(:last-child) {
          border-bottom: 1px solid $color-grey;
        }
      }
    }
  }
  &__cta {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__price-box {
    color: $color-white;
    text-align: center;
    margin-bottom: 8rem;
  }
  &__p-1 {
    font-size: 4rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
  }
  &__p-2 {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 100;
  }
  #btn-card {
    font-size: 2rem;
    padding: 1.6rem 1.8rem;
  }
}
